@page
@model LoginModel

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Log in";
    if (SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/");
    }
}

<div class="flex flex-col items-center">
    <section class="pt-12">
        <form id="account" method="post">
            <h2 class="text-lg mb-2">Log in.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="px-3 py-1 rounded w-52 background-primary-text text-highlight"
                       autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="px-3 py-1 rounded w-52 background-primary-text text-highlight"
                       autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div class="mb-3 flex flex-col">
                <button id="login-submit" type="submit">
                    Log in
                </button>
            </div>
            <div>
                <p>
                    <a id="forgot-password" class="text-accent hover:underline" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" class="text-accent hover:underline" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" class="text-accent hover:underline" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p>
            </div>
        </form>
    </section>
</div>
