@page

@inject SignInManager<IdentityUser> SignInManager

@model RegisterModel
@{
    ViewData["Title"] = "Register";
    if (SignInManager.IsSignedIn(User))
    {
        Response.Redirect("/");
    }
}

<div class="flex flex-col items-center">
    <div class="pt-12 flex-1">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 class="text-lg mb-2">Create a new account.</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="flex flex-col gap-y-3">
                <div>
                    <input asp-for="Input.Email"
                           autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="Input.Password"
                           autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Password</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <input asp-for="Input.ConfirmPassword"
                           autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit">
                    Register
                </button>
            </div>
        </form>
    </div>
</div>
