<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - OGame</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
</head>
<body class="flex flex-col h-full">
<header>
    <nav class="mb-8">
        <ul class="flex flex-row justify-around p-2">
            <li>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OGame</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </li>
            <partial name="_LoginPartial"/>
        </ul>
    </nav>
</header>
<div class="flex-1">
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer class="p-2 text-sm">
    &copy; 2023 - OGame.MVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
</footer>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>