@page
@model OGame.MVC.Areas.Game.Views.Home.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>OGame</title>
    <base href="~/"/>
</head>
<body>
<div id="app"></div>
<script src="~/dist/assets/index.js"></script>
</body>
</html>
