@page
@model OGame.MVC.Areas.Game.Views.Home.Index

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    Engine status:
    <span class="text-amber text-xs small-caps">
        OFF
    </span>
</div>
</body>
</html>
