$background: #22302B;
$primary: #9B7C00;
$secondary: #7B1E00;

$primary-text: #FFFEE6;

$grey: #292929;

$accent: #E3CA88;
$highlight: #001C20;

$primary-button: #E68318;

$all-colours: (
  "background": $background,
  "primary": $primary,
  "secondary": $secondary,
  "primary-text": $primary-text,
  "grey": $grey,
  "accent": $accent,
  "highlight": $highlight,
  "primary-button": $primary-button
);

@each $name, $colour in $all-colours {
  .text-#{$name} {
    color: $colour !important;
  }
  
  .background-#{$name} {
    background-color: $colour !important
  }
  
  .border-#{$name} {
    border-color: $colour !important;
  }
}


